{% extends "blog/base.html" %}
{% block content %}
     
<form method="GET" action="{% url 'qsns-search' %}" class="form-group" >
     
  <div class="input-group md-form form-sm form-2 pl-0">
    <input class="form-control my-0 py-1 red-border" name="q" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
      <input type="submit" value="Search" style="font-weight: 500;color: white;" class="input-group-text bg-info" id="basic-text1"></input>
    </div>
  </div>
</form>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="mr-2">{{ post.author.email }}</small>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <div class="text-center">
    <button  class="btn btn-info" style="border-radius: 35px;"><a style="text-decoration: none; color: white;"
      class="mr-2 mt-2" href="{% url 'blog-home'  %}">Go To Home Page</a></button> 
    </div>
{% endblock content %}